<div class="card-body-text">
    <div class="md-title name"
          ng-show="person.type == 'organization'">
      {{person.orgDisplayName}}
    </div>
    <div class="md-title name">
      {{person.displayName}}
    </div>
    <div>
      <div>
        <strong>{{person.phones[0].value | phone}}</strong>
      </div>
      <div>
        <a href="mailto:{{person.email}}">{{person.emails[0].value}}</a>
      </div>
    </div>
    <div>
      <div>
        {{person.address1}}
      </div>
      <div ng-show="person.address2">
        {{person.address2}}
      </div>
      <div ng-show="person.city && person.state">
        {{person.city}}, {{person.state}} {{person.zip}}
      </div>
    </div>
  </div>