<md-toolbar class="toolbar md-whiteframe-z2">
  <h3>Case View</h3>
</md-toolbar>
<md-content style="min-height: 50vh" layout-sm="column" layout="row" layout-wrap>

  <!-- Property Card-->
  <div flex="100">
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Property</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <md-grid-list md-cols-gt-xs="8" md-cols-xs="8" md-row-height="1.5em" style="overflow:scroll" >
    
          <md-grid-tile md-colspan-gt-xs="1" md-colspan-xs="3">
                <strong md-truncate>Owner:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="5">
              <span>Stuart McFarlain</span>
          </md-grid-tile>
          
          <md-grid-tile md-colspan-gt-xs="1" md-colspan-xs="3" md-rowspan="5">
            <strong>Legal Description: </strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="5" md-rowspan="5" >
            <md-grid-header>
              <span>Lot 75, VISTA BONITA HEIGHTS SUBDIVISION, according to the official plat thereof on file and of record in the Office of the Recorder for Davis County, Utah. </span>
            </md-grid-header>
          </md-grid-tile>

          <md-grid-tile md-colspan-gt-xs:"1" md-colspan-xs="3">
            <strong>Address: </strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="5">
            <span md-truncate>2349 East Taylor Boulevard</span>
          </md-grid-tile>
    
          <md-grid-tile md-colspan-gt-xs="1" md-colspan-xs="3">
            <strong>County: </strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="5">
            <span>Davis</span>
          </md-grid-tile>
    
          <md-grid-tile md-colspan-gt-xs="1" md-colspan-xs="3">
            <strong>Tax Id: </strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="5">
            <span>36-238-9984</span>
          </md-grid-tile>
        </md-grid-list>
    
      </md-card-content>
    </md-card> 
  </div>  
  <!-- End Property card -->

  <!-- Lender card -->
  <div flex-gt-sm="50" flex="100">
    <md-card >
    
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Lender</span>
        </md-card-title-text>
      </md-card-title>
    
      <md-card-content layout="column">
        
        <md-grid-list md-cols-gt-xs="4" md-cols-xs="3" md-row-height="1.5em" style="overflow:scroll" >
          <md-grid-tile >
              <md-grid-header>
                <strong md-truncate>Name:</strong>
              </md-grid-header>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
              <span>Peter Boghashian</span>
          </md-grid-tile>
    
          <md-grid-tile>
            <strong>Address: </strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
            <span md-truncate>50 S Main Street</span>
          </md-grid-tile>
    
          <md-grid-tile>
            <strong></strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
            <span>Salt Lake City, UT 84111</span>
          </md-grid-tile>
    
          <md-grid-tile>
            <strong>Phone:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
            <span>801-462-8382</span>
          </md-grid-tile>
    
          <md-grid-tile >
            <strong>Email:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2" >
            <md-grid-header>
              <span>pboghashian@email.net</span>
            </md-grid-header>
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>
    </md-card>
  </div>
  <!-- End Lender Card-->
  
  <!-- Borrower Card-->
  <div flex-gt-sm="50" flex="100">
    <md-card >
    
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Borrower</span>
        </md-card-title-text>
      </md-card-title>
    
      <md-card-content layout="column">
        
        <md-grid-list md-cols-gt-xs="4" md-cols-xs="3" md-row-height="1.5em" style="overflow:scroll" >
          <md-grid-tile >
              <md-grid-header>
                <strong md-truncate>Name:</strong>
              </md-grid-header>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
              <span>Jamie Lannister</span>
          </md-grid-tile>
    
          <md-grid-tile>
            <strong>Address: </strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
            <span md-truncate>301 South 200 East</span>
          </md-grid-tile>
    
          <md-grid-tile>
            <strong></strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
            <span>Salt Lake City, UT 84111</span>
          </md-grid-tile>
    
          <md-grid-tile>
            <strong>Phone:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2">
            <span>801-558-0192</span>
          </md-grid-tile>
    
          <md-grid-tile >
            <strong>Email:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-xs="3" md-colspan-xs="2" >
            <md-grid-header>
              <span></span>
            </md-grid-header>
          </md-grid-tile>
    
    
        </md-grid-list>
      </md-card-content>
    </md-card>
  </div>
  <!-- End Borrower Card-->

  <!-- Loan & Trust Deed Card-->
  <div flex="100">
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Loan &amp; Trust Deed</span>
        </md-card-title-text>
      </md-card-title>
    
      <md-card-content>
        
        <md-grid-list md-cols-gt-sm="12" md-cols-sm="9" md-cols-xs="9" md-row-height="1.5em" 
                      style="min-height:12em;overflow:scroll" >
          <md-grid-tile md-colspan-gt-sm="1" md-colspan-sm="1" md-colspan-xs="3" 
                        md-rowspan-gt-xs="2">
                <strong >Amount:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="3" md-colspan-sm="2" md-colspan-xs="6" 
                        md-rowspan-gt-xs="2">
              <span>$257,842</span>
          </md-grid-tile>
    
          <md-grid-tile md-colspan-gt-sm="1" md-colspan-sm="1" md-colspan-xs="3"
                        md-rowspan-gt-xs="2" >
            <strong>Recorded:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="3" md-colspan-sm="2" md-colspan-xs="6"
                        md-rowspan-gt-xs="2" >
            <span md-truncate>April 3, 2015</span>
          </md-grid-tile>
    
          <md-grid-tile md-colspan-gt-sm="1" md-colspan-sm="1" md-colspan-xs="3"
                        md-rowspan-gt-xs="2" >
            <strong>Entry No:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="3" md-colspan-sm="2" md-colspan-xs="6"
                        md-rowspan-gt-xs="2" >
            <span md-truncate>158293045</span>
          </md-grid-tile>
    
          <md-grid-tile md-colspan-gt-sm="2" md-colspan-sm="2" md-colspan-xs="9"
                        md-rowspan-sm="2">
            <strong md-truncate>Original Beneficiary:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="4" md-colspan-sm="2" md-colspan-xs="9"
                        md-rowspan-sm="2">
            <span >Oscar Travers</span>
          </md-grid-tile>
          
          <md-grid-tile md-colspan-gt-sm="2" md-colspan-sm="2" md-colspan-xs="9"
                        md-rowspan-sm="2">
            <strong>Original Trustee:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="4" md-colspan-sm="3" md-colspan-xs="9"
                        md-rowspan-sm="2">
            <span >First American Title Insurance Company</span>
          </md-grid-tile>
          
          <md-grid-tile md-colspan-gt-sm="4" md-colspan-sm="9" md-colspan-xs="9"
                        md-rowspan-gt-sm="2">
            <strong>Substitution of Trustee:</strong>
          </md-grid-tile>

          <md-grid-tile md-colspan-gt-sm="1" md-colspan-sm="1" md-colspan-xs="3"
                        md-rowspan-gt-xs="2" >
            <strong>Recorded:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="3" md-colspan-sm="2" md-colspan-xs="6"
                        md-rowspan-gt-xs="2" >
            <span md-truncate>05/12/2017</span>
          </md-grid-tile>
    
          <md-grid-tile md-colspan-gt-sm="1" md-colspan-sm="1" md-colspan-xs="3"
                        md-rowspan-gt-xs="2" >
            <strong>Entry No:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="3" md-colspan-sm="2" md-colspan-xs="6"
                        md-rowspan-gt-xs="2" >
            <span md-truncate>172389298</span>
          </md-grid-tile>
    
          <md-grid-tile md-colspan-gt-sm="1" md-colspan-sm="2" md-colspan-xs="3">
            <strong>Assignment:</strong>
          </md-grid-tile>
          <md-grid-tile md-colspan-gt-sm="3" md-colspan-sm="4" md-colspan-xs="6">
            <p md-truncate>Date: 10/07/2015</p>
            <p md-truncate>Entry No.: 15020348</p>
            <p md-truncate>To: Peter Boghashian</p>
          </md-grid-tile>
    
          
    
    
        </md-grid-list>
      </md-card-content>
    </md-card>
  </div>
  <!-- End Loan & Trust Deed Card -->
</md-content>

