@import '../../variables';

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: .4;
}

.case-card-group {
  max-width: 98%;
  // min-width: 900px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

 
.case-detail-card-container {
  flex: 0 0 33%;
  position: relative;
  outline: none;
  &.property-card {
    flex: 0 0 60%; 
  }
  &.active-edit {
    flex: 0 0 90%;
  }
  .case-detail-card {
    min-height: 240px;
    .card-title {
      position: relative;
      margin-bottom: 20px;
    }
    .card-title:hover {
      cursor: pointer;
    }
    .card-title:focus {
      outline: none;
    }
    .card-body-text>* {
      margin: 8px auto;
      &.name {
        font-weight: 900;
        padding-bottom: 10px;
      }
    }

    md-input-container {
      margin: 5px 0;
      md-select {
        margin-bottom: 20px;
      }
    }
    form {
      // background-color: red;
    }
  }
}





.toggle-edit.ng-hide-add, .toggle-edit.ng-hide-remove {
  transition: .2s linear !important;
}

.toggle-edit.ng-hide-add {
  opacity: 1 !important;
}

.toggle-edit.ng-hide-add.ng-hide-add-active {
  height: 0;
  opacity: 0 !important;
}

.toggle-edit.ng-hide-remove {
  // height: 0;
  opacity: 0 !important;
}

.toggle-edit.ng-hide-remove.ng-hide-remove-active {
  opacity: 1 !important;
}

.active-edit-add, .active-edit-remove {
  transition: .2s cubic-bezier(.17,.67,.83,.67) !important;
}

.active-edit-add {
  flex: 0 0 90%;
}
.active-edit-remove {
  flex: 0 0 30%;
}


/* Dashboard View */

.dashboard-title-container {
  margin-top: 20px;
  margin-left: 20px;
}

.dashboard-content {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.dashboard-sidenav {
  overflow-y: auto;
  overflow-x: hidden;
  width: 98vw;
  max-width: 200px;
  .case-list-item.selected {
    background-color: rgba(179,136,255,0.5);
  }
}


/* Timeline Section Styling */

.dashboard-title-container, .timeline-container {
  position: relative;
  /*min-height: 200px;*/
  border-bottom: 1px solid rgba(179,136,255,.2);
  /*border-radius: 5px;*/
  margin: 10px;
  padding: 10px;
}

.timeline-label-container {
  position: relative;
  margin-top: 20px;
  min-height: 110px;
  .timeline-label {
    transform-origin: top right;
    transform: translateX(-50%) rotate(290deg) ;
  }
}


.editToolbar-container {
  position: relative;
  min-height: 60px;
  .dashboard-editToolbar {
    position: relative;
  }
}
