<md-card md-colors="{background:'default-background-200'}">
  <md-card-content class="column dashboard-case-info-container">
    <div class="row">
      <div class="md-display-2"></div>
    </div>
    <div class="md-display-1">Case Details</div>
    <div class="row">

      <md-card class="loan-card">
        <md-card-content>
          <div class="md-headline"><md-icon class="icon-monetization_on md-primary"></md-icon>Loan</div>
            <rt-loan-info profile="vm.caseRecord.loan" 
                          mode="'view'">
            </rt-loan-info>
        </md-card-content>
      </md-card>
      
      <md-card class="property-card">
        <md-card-content>
          <div class="md-headline"><md-icon class="icon-location_city md-primary"></md-icon>Property</div>
          <div ng-repeat="parcel in vm.caseRecord.property">
            <rt-property-info profile="parcel" 
                              mode="'view'">
            </rt-property-info>
          </div>
        </md-card-content>
      </md-card>
        
      <md-card ng-repeat="section in ['lender', 'borrower', 'lenderAttorney', 'borrowerAttorney']"
                ng-if="vm.caseRecord[section].length">
        <md-card-content class="column">
          <div class="md-headline"><md-icon class="icon-account_circle md-primary"></md-icon>{{vm.props[section].title}}</div>
          <div ng-repeat="profile in vm.caseRecord[section]">
            <rt-person-info 
                            profile="profile"
                            mode="'view'"
                            on-save-click="vm.toggleDisplayNames(profile, section)">
            </rt-person-info>
          </div>
        </md-card-content>
      </md-card>
      
      
      <md-card class="document-card">
        <md-card-content>
          <div class="md-headline"><md-icon class="icon-assignment md-primary"></md-icon>Documents</div>
            <rt-document-info profile="vm.caseRecord.documents" 
                              mode="'view'">
            </rt-document-info>
        </md-card-content>
      </md-card>
    </div>
  </md-card-content>
</md-card>