<div class="timeline-container">
  <div class="timeline" style="position:relative">
      <h3 class="md-headline">Timeline</h3>
      
      <div  layout="row" layout-align="space-between"
            class="timeline-label-container">
        <p class="timeline-label">
          NOD Recorded
        </p>
        <p class="timeline-label">
          NOS Published
        </p>
        <p class="timeline-label">
          Trustee's Sale
        </p>
  
      </div>
      <div>
        
        <md-progress-linear md-mode="determinate"
                            value="{{vm.progressValue}}" >
        </md-progress-linear>
      </div>
  </div>
</div>