<!-- FAB -->

<md-toolbar class="md-toolbar-tools md-whiteframe-z2">
  <h3 >Case View &amp; Edit Dashboard</h3>
</md-toolbar>

<div style="position:relative;min-height:100vh">

<!-- Edit, Save and Search Box -->
  <ui-view name="editToolbar"></ui-view>
  

  <div flex-gt-sm="80" flex-offset="5" >
    <h1 ng-show="vm.caseRecord">Case: {{vm.caseRecord.caseId}}</h1>
  <div flex-gt-sm="80" flex-offset="5"
        ng-if="!vm.isCaseIdValid">
    <h1 class="md-headline">No Matches Found </h1>
  </div>
  </div>

  <ui-view name="fullDetail" case="vm.caseRecord" is-active-edit="vm.isActiveEdit" is-case-id-valid="vm.isCaseIdValid"></ui-view>

</div>
