
<md-toolbar class="md-toolbar-tools md-whiteframe-z2">
  <md-button class="md-icon-button" ng-click="vm.toggleSidenav($event)"
              hide-gt-xs>
    <i class="fa fa-bars fa-lg" ></i>
  </md-button>
  <h3 >{{vm.viewTitle}}</h3>
</md-toolbar>

<div layout="row">
<md-sidenav  class="md-sidenav-left md-whiteframe-z2 dashboard-sidenav" 
          md-component-id="sideMenu" 
          md-disable-backdrop
          md-is-locked-open="$mdMedia('min-width:500px')"
          >
      <md-toolbar class="md-toolbar-tools md-hue-3">
        <h3>Cases</h3>
      </md-toolbar>
      <md-content layout="column">
        <md-input-container>
          <label><md-icon>search</md-icon> search</label>
          <input type="search" ng-model="vm.query" md-autofocus>
          <md-button class="md-icon-button" ng-click="vm.query=''" style="position:absolute;right:0;top:0" ng-hide="!vm.query"><md-icon>cancel</md-icon> </md-button>
        </md-input-container>
        <md-list>
          <md-list-item ng-repeat="case in vm.caseList | filter: vm.query | orderBy: vm.orderProp : reverse=true"
                        class="case-list-item"
                        ng-class="{selected: case.caseId == vm.caseRecord.caseId}"
                        ui-sref="caseFocus({recordId: case.$id})">
            <div>{{case.caseId}}</div>
          </md-list-item>  
        </md-list>
      </md-content>
</md-sidenav>
            
            <md-button  class="md-fab md-accent"
                        hide-xs
            style="position:fixed;top:90vh;left:120px;z-index:100"
                        ng-click="vm.gotoNewCase()">
              <md-tooltip md-direction="top">create a new case</md-tooltip>
              <md-icon>add</md-icon>
            </md-button>

<!-- Dashboard Layout-->
<md-content layout="column" class="dashboard-content" flex>
    
    <div class="dashboard-title-container" ng-hide="vm.isCreating" >
      <h2 ng-show="vm.caseRecord.caseId">Case: {{vm.caseRecord.caseId}} <small>/ {{vm.caseRecord.lender.name}} / {{vm.caseRecord.borrower.name}} / {{vm.caseRecord.property.address}}</small></h2>
      <h2 ng-hide="vm.caseRecord.caseId">Select A Case To View or 
           Create A New Case<md-button  ng-click="vm.gotoNewCase()" class="md-icon-button"> <md-icon>add_circle</md-icon> </md-button></h2>
            
    </div>

    <ui-view  name="timeline"
              case="vm.caseRecord">

    </ui-view>
    <ui-view  name="docs"
              case="vm.caseRecord">
    </ui-view>
  
    <ui-view  name="editToolbar"
              is-active-edit="vm.isActiveEdit"
              on-edit="vm.toggleEdit()" 
              on-save="vm.saveChanges()" 
              on-cancel="vm.cancelChanges()">
    </ui-view>
    
  
    <ui-view  name="fullDetail"
              case="vm.caseRecord" 
              is-active-edit="vm.isActiveEdit" 
              on-exit="vm.clearCaseRecord()"
              on-case-selected="vm.caseLookup(id)">
    </ui-view>

    <ui-view  name="newCase"
              newcase="vm.caseRecord"
              on-update="vm.autoSaveChanges()"
              on-cancel="vm.cancelNewCase()"
              on-finalize="vm.finalizeNewCase()"
              is-active-edit="true"
              is-creating="true">
    </ui-view>

  </md-content>
</div>
