<md-toolbar class="toolbar toolbar-tools md-whiteframe-z1">
  <h3>
    Legacy Lookback Written in Visual Basic for MS Office
  </h3>
</md-toolbar>
<div style="background-color: #fff">
  <md-tabs md-dynamic-height=true>
  
    <md-tab  label="Main Form" >
      <img class="legacy-forms" ng-src="http://i.imgur.com/FYhQk0U.png" alt="">
    </md-tab>
  
    <md-tab  label="Mailing" >
      <img class="legacy-forms" ng-src="http://i.imgur.com/juOGNXH.png" alt="">
    </md-tab>
  
    <md-tab  label="Loan Info" >
      <img class="legacy-forms" ng-src="http://i.imgur.com/88rVrAv.png" alt="">
    </md-tab>
  
    <md-tab  label="Doc Center" >
      <img class="legacy-forms" ng-src="http://i.imgur.com/Ay3ynUE.png" alt="">
    </md-tab>
  
  </md-tabs>
</div>