<md-content>
  <md-list ng-init="ctrl.selectedCase=null">
    <md-list-item layout="row" layout-wrap layout-align="space-between">
      <h4 flex-offset="10" flex="10">File #</h4>
      <h4 flex="20" md-truncate >Property</h4>
      <h4 flex="20" >Lender</h4>
      <h4 flex="20" >Borrower</h4>
      <h4 flex="20" >Loan Amount</h4>
    </md-list-item>

    <!-- list summary info for al cases -->
    <div  ng-repeat="case in ctrl.cases track by $index" >
      <md-list-item 
            class="case-summary"
            ng-click="ctrl.toggleSelected($index)"
            >
        <!--expand button displays additional case details-->
        <md-button class="more-detail md-fab md-mini md-primary md-hue-2"
              ng-click="ctrl.toggleSelected($index)"
              ng-show="ctrl.selectedCase != $index">
            <md-icon>expand_more</md-icon>
        </md-button>
        <!--collapse button. visible only when details are shown-->
        <md-button class="less-detail md-fab md-mini md-primary md-hue-3"
              ng-click="ctrl.toggleSelected($index)"
              ng-show="ctrl.selectedCase === $index">
            <md-icon>expand_less</md-icon>
        </md-button>
        <div flex="10" flex-offset="10">{{case.file}}</div>
        <div flex>{{case.property.address1}}</div>
        <div flex>{{case.lender.name}}</div>
        <div flex>{{case.borrower.name}}</div>
        <div flex>{{case.borrower.loanAmount | currency : "$" : 0}}</div>
        <md-button class="md-secondary md-mini" style="position:absolute;right:3vw" >
          <md-icon>create</md-icon>
        </md-button>
      </md-list-item>
        <md-divider ng-if="ctrl.selectedCase != $index"></md-divider>
        <ui-view  ng-show="ctrl.selectedCase === $index"></ui-view>
    </div>
    
        </md-list>
      </md-content>
