<div class="add-profile-component">
  <form name="nameInput">
    <md-autocomplete class="name-input"
            md-input-name="autoComplete"
            md-no-cache="vm.noCache"
            md-selected-item="vm.selectedItem"
            md-selected-item-change="vm.itemSelected()"
            md-search-text="vm.searchText"
            md-items="item in vm.querySearch(vm.searchText)"
            md-item-text="item.name"
            md-floating-label="Enter a name to search for an existing profile"
            md-autoselect
            md-select-on-match
            md-match-case-insensitive>
      <md-item-template>
        <span md-highlight-text="vm.searchText" md-highlight-flags="i">{{item.name}}</span>
      </md-item-template>
      <div ng-messages="nameInput.autoComplete.$error" ng-if="nameInput.autoComplete.$touched"> 
        <div ng-message="required">You must enter a {{vm.category}}.</div>
      </div> 
    </md-autocomplete>  
  </form>
        
      <rt-person-info class="profile-card" person="vm.person" mode="'edit'">
      </rt-person-info>
    <div>
    </div>
</div>