<div class="row add-profile-component">
  <div class="column add-profile-group">
    <div class="row" layout="row" layout-align="space-around">
      <rt-profile-autocomplete  ng-repeat="key in vm.props.acKeys"
                                path="vm.props.apiPath"
                                key="key"
                                filter="vm.props.acFilter"
                                actions="vm.actions"
                                on-item-selected="vm.lookupProfile(item, path)">
      </rt-profile-autocomplete>
        <div class="profile-btn-group">
          <md-button class="btn"
                      ng-disabled="vm.mode==='edit'"
                      ng-click="vm.clickEnterNewProfile($event); showClear=!showClear">
                Enter new
            <md-icon class="icon-mode_edit"></md-icon>
          </md-button>
        </div>
    </div>

    
    <!-- potential profile to add -->
    <rt-person-info class="profile-card"
                    ng-class="{compact: vm.mode==='view'}"
                    ng-if="vm.props.apiPath==='people'"
                    profile="vm.profileToAdd"
                    mode="vm.mode"
                    states-list="vm.statesList"
                    section="vm.sectionLabel"
                    actions="vm.actions"
                    on-save-click="vm.handleSaveToCase(data)">
        <div class="row right-justify">
          <md-button class="btn save-btn add-profile-btn toggle-edit"
                      ng-show="vm.profileToAdd._id"
                      ng-click="vm.saveClick()">
  
             Save 
            <md-icon class="icon-save"></md-icon>
          </md-button>
        </div>
    </rt-person-info>

  </div>

<!-- existing section profiles list -->

  <div class="column profiles-list">
      
          <rt-person-info class="profile-card"
                          ng-if="vm.props.apiPath==='people'"
                          ng-class="{compact: vm.mode==='view'}"
                          ng-repeat="profile in vm.profiles track by $index"
                          profile="profile"
                          section="vm.sectionLabel"
                          mode="'view'" >
            <md-button class="remove-profile-btn md-icon-button">
              <md-icon class="icon-cancel"></md-icon>
            </md-button>
          </rt-person-info>

        <div  ng-if="vm.props.title==='Property'"
              ng-repeat="profile in vm.profiles">
          <rt-property-info class="profile-card"
                          ng-class="{compact: vm.mode==='view'}" 
                          property="profile" 
                          mode="vm.mode" 
                          section-title="vm.props.title">
          </rt-property-info>
        </div>
        <rt-document-info class="profile-card"
                        ng-class="{compact: vm.mode==='view'}" 
                        ng-if="vm.props.title==='Trust Deed'"
                        ng-cloak  
                        documents="vm.profiles" 
                        mode="vm.mode" 
                        section-title="vm.props.title">
        </rt-document-info>
  </div>
</div>