
<md-toolbar class="md-toolbar-tools md-whiteframe-z2">
    <h3 >{{vm.viewTitle}}</h3>
  </md-toolbar>
  
  <div layout="row">
  
  <!-- Dashboard Layout-->
  <md-content layout="column" class="dashboard-content">
      
     
        <div class="create-toolbar-container" style="position:relative;min-height:60px">
            <div  layout="row" layout-align="start">
                <md-button  class="md-hue-3"
                              aria-label="cancel changes"
                              ng-click="vm.cancelWithoutSaving()"
                              ng-disabled="!vm.isCreating">
                    <md-tooltip md-direction="bottom">cancel without saving</md-tooltip>
                    <md-icon class="icon-cancel"></md-icon> Cancel Without Saving
                </md-button>
          
                <md-button  class="md-button md-hue-3"
                              aria-label="finalize and save"
                              ng-click="vm.finalize()"
                              ng-disabled="!vm.isCreating">
                    <md-tooltip md-direction="bottom">finalize</md-tooltip>
                    <md-icon class="icon-cloud_upload"></md-icon> Create Case With Current Information
                </md-button>
            </div>
        </div>

        <div>
          <md-button  class="md-raised md-accent"
                      ng-click="vm.initiateNewCase()"
                      ng-disabled="vm.isCreating">
              initiate new case
          </md-button>
        </div>
          
          
          
      <md-card class="case-card-group" flex layout="column">
        <md-card-content flex>
              <div layout="row" layout-align="start center">
                <h1 class="md-headline" 
                      style="position:relative;top:-10px;margin-right:10px" 
                      flex-offset-gt-xs="5">
                  Case: 
                </h1>
                <md-input-container >
                    <label >Case Number</label>
                    <input  class="md-headline"
                            type="text" 
                            ng-model="vm.caseRecord.caseNum">
                </md-input-container>
              </div>

          <div class="create-case-container">
            <md-card class="case-subsection" ng-repeat="role in vm.roles">
              <md-card-title><h2>
                {{role}}
              </h2></md-card-title>
              <rt-add-profile  
                              names="vm.names" 
                              category="{{role}}"
                              on-submit="vm.submitForm($event, data)">
              </rt-add-profile>
            </md-card>
  
          </div>

        </md-card-content>


      </md-card>

  </md-content>
</div>
  


