@import '../../variables.scss';


.create-case-container {
  display: flex;
  flex-direction: column;
  .case-subsection {
    display: flex;
    flex-direction: column;
  }
}

.case-section {
  md-toolbar.profile-card {
    background-color: rgba($primary,.70);
    color: $text-primary-lt;
  }
}

.add-profile-component {
  padding: 40px;
  .add-profile-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    .autocomplete-input {
      min-width: 400px;
    }
    .profile-btn-group {
      margin: 5px 0px auto 35px;
    }
    .profile-card {
      flex: 1 1 30%;
      min-height: 800px;
      margin-left: 50px;
      padding: 20px;
      border: 1px solid rgba($gray, .2);
      transition: min-height 0.3s ease-out;
      &.compact {
        min-height: 130px;
      }
      
    }
    .autocomplete-input {
      width: 400px;
    }
    md-autocomplete.autocomplete-input.county {
      ::after {
        content: ' - and - '; 
        position: relative;
        top: 30px;
        right: 0px;
        margin: 0 18px;
      }
      md-autocomplete-wrap{
          ::after {
            content: '';
        }
      }
    }
  }

  .profiles-list {
    flex: 1 1 39%;
    position: relative;
    display: flex;
    flex-direction: column;

      rt-person-info {
        position: relative;
        margin-left: 40px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($gray, .2);
        .remove-profile-btn {
          position: absolute;
          top: 0px;
          right: 0px;
          md-icon.icon-cancel {
            color: $inactive-icon-dk;
          }
        }
    }
  }

}


.large-icon-btn:not([disabled]) {
  height: 58px;
  width: 58px;
  * {
    position: relative;
    left: -8px;
    font-size: 48px;
    height: 48px;
  }
}


