<md-content class="home-view-container"
            layout="row" 
            layout-align="center center">  
<div flex="80" style="min-height:50vh;margin-top:80px">
  <md-grid-list md-cols="3" md-row-height="1.5em" md-gutter="20px">
    <md-grid-tile md-rowspan="10">
          <a ui-sref="cases" class="plain-link">
            <div layout="column" flex layout-align="center center">
              
              <h1><br/>List All Cases </h1>
              <div>
                <i class="fa fa-th-list fa-5x"></i>
              </div>
            </div>
          </a>
    </md-grid-tile>
    <md-grid-tile md-rowspan="10">
      <a ui-sref="caseMain" class="plain-link"><div layout="column" flex layout-align="center center">
          <h1 style="text-align:center">Lookup<br/> Case Number</h1>
        <div layout="row" >
          <i class="fa fa-compass fa-5x"></i>
        </div>
        </div>
      </a>
    </md-grid-tile>
    <md-grid-tile md-rowspan="10">
      <a ui-sref="create" class="plain-link">
        <div layout="column" flex layout-align="center center"> 
          <h1 style="text-align:center"><br/>Open A New Case</h1>
          <div>
            <i class="fa fa-user-plus fa-5x"></i>
          </div>
        </div>
      </a>
      
    </md-grid-tile>
  
  </md-grid-list>
  </div>
</md-content>