<md-list-item class="case-detail" layout="row" layout-align="start start">
  <div flex-gt-xs="10" flex-offset="5"></div>
  <div flex-gt-xs="20" flex-offset-xs="5">
    <p>{{ctrl.caseExpanded.property.county}} County</p>
    <p>id: {{ctrl.caseExpanded.property.taxId}}</p>
  </div>
  <div flex-gt-xs="20" hide-xs>
    <p md-truncate class="case-list-address">{{ctrl.caseExpanded.lender.address}}</p>
    <p>{{ctrl.caseExpanded.lender.phone }}</p>
    <p>{{ctrl.caseExpanded.lender.email }}</p>
  </div>
  <div flex-gt-xs="20" hide-xs>
    <p md-truncate class="case-list-address">{{ctrl.caseExpanded.borrower.address}}</p>
    <p style="visibility:hidden">{{ctrl.caseExpanded.borrower.phone | tel }}.</p>
  </div>
  <div flex>

  </div>
</md-list-item>
<md-divider></md-divider>
