<div class="case-card-group">
  

  <person-card  person="vm.case.lender[0]"
                category="Lender"
                class="case-detail-card-container person-card"
                ng-class="{'active-edit' : vm.editLender}"
                show-inputs="vm.editLender"
                on-edit-click="vm.toggleCard($event, category)"
                on-save-click="vm.onSaveClick({data: data, category: category})"
                on-cancel-click="vm.onCancelClick()"
                ng-mouseenter="vm.hoverLender=true"
                ng-mouseleave="vm.hoverLender=false"
                show-edit-btn="vm.hoverLender">
  </person-card>
  <person-card  person="vm.case.borrower[0]"
                category="Borrower"
                class="case-detail-card-container person-card"
                ng-class="{'active-edit' : vm.editBorrower}"
                show-inputs="vm.editBorrower"
                on-edit-click="vm.toggleCard($event, category)"
                on-save-click="vm.onSaveClick({data: data, category: category})"
                on-cancel-click="vm.onCancelClick()"
                ng-mouseenter="vm.hoverBorrower=true"
                ng-mouseleave="vm.hoverBorrower=false"
                show-edit-btn="vm.hoverBorrower">
  </person-card>
  <loan-card    loan="vm.case.loan"
                category="Loan"
                class="case-detail-card-container loan-card"
                ng-class="{'active-edit' : vm.editLoan }"
                show-inputs="vm.editLoan"
                on-edit-click="vm.toggleCard($event, category)"
                on-save-click="vm.onSaveClick({data: data, category: category})"
                on-cancel-click="vm.onCancelClick()"
                ng-mouseenter="vm.hoverLoan=true"
                ng-mouseleave="vm.hoverLoan=false"
                show-edit-btn="vm.hoverLoan">
  </loan-card>
  <property-card  property="vm.case.property"
                  category="Property"
                  class="case-detail-card-container property-card"
                  ng-class="{'active-edit' : vm.editProperty}"
                  show-inputs="vm.editProperty"
                  on-edit-click="vm.toggleCard($event, category)"
                  on-save-click="vm.onSaveClick({data: data, category: category})"
                  on-cancel-click="vm.onCancelClick()"
                  ng-mouseenter="vm.hoverProperty=true"
                  ng-mouseleave="vm.hoverProperty=false"
                  show-edit-btn="vm.hoverProperty">
  </property-card>
</div>