@import '../../../variables.scss';

.info-card {
  .profile-type-radio-group  {  
    padding: 12px;
    border: solid 1px rgba($gray, .2);
    border-radius: 10px;
    margin-bottom: 20px;
    .radio-group-caption {
        margin-bottom: 20px;
    }
    .radio-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      >* {
        flex: 0 1 1;
        margin-right: 18px;
        padding-right: 18px;
        border-right: 1px solid rgba($gray, .3);
      }
    }
  }
  h4.md-title {
    margin-bottom: 20px;
  }
  .name-input-group {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    h4 {
      flex: 1 0 100%;
      flex-basis: 100%;  
    }
    >div.row {
      align-items: flex-end;
    }
    .short-org-name {
      flex: .5 0 50%;
      flex-basis: 200px;
      margin-right: 48px;
    }
    .full-org-name, .full-name {
      flex: 1 1 80%;
      flex-basis: 400px;
      max-width: 450px;
    }
    .state-long {
      flex: 0 1 10%;
      max-width: 200px;
      margin-top: 0px;
    }
    .part-name {
      flex: 1 0 25%;
      margin-right: 18px;
    }
    .short-name {
      flex: 0 1 25%
    }
  }

.phone-email-group.row {
  max-width: 1200px;
}

.phone-group {
  flex: 1 40%;
  padding-right: 30px;
  // align-items: stretch;
    div.column {
      // align-content: flex-start;
      .phone-input-group {
        align-items: center;
        justify-content: space-around;
        .phone {
          flex: 1;
          max-width: 120px;
        }
    }
  }
}

.email-group {
  flex: 1 50%;
  div {
    .email-input-group {
      align-items: center;
      .email {
        flex: 1;
      }
    }
  }
}
  
  .add-contact-btn {
    align-self: flex-end;
  }

    .address-group {
    max-width: 500px;
    .city-state-zip {
      display: flex;
      flex-direction: row;
      .city {
        flex: 1 1 65%;
      }
      .state {
        flex: 0 0 25%;
        max-width: 60px;
        margin-left: 15px;
        margin-right: 15px;
      }
      .zip {
        flex: .5 1 15%;
        max-width: 70px;
      }
    }
  }
  md-input-container {
    max-height: 40px;
  }
}