<edit-button  show-edit-btn="vm.showEditBtn"
              show-inputs="vm.showInputs">
</edit-button>
<md-card class="case-detail-card">
  <md-card-content ng-hide="vm.showInputs"
                   class="toggle-edits">
    <div  class="md-title card-title"
          ng-click="vm.handleEditClick($event)">
      {{vm.category}}
    </div>
    
  </md-card-content>

  <md-card-content ng-show="vm.showInputs"
                      class="toggle-edit">
    <div>
      <div class="md-title card-title"
           ng-click="vm.handleEditClick($event)">
          {{vm.category}}
      </div>
      
    </div>
  </md-card-content>
</md-card>