<edit-button  show-edit-btn="vm.showEditBtn"
              show-inputs="vm.showInputs">
</edit-button>
<md-card  class=" case-detail-card person-card">
    

    
  <md-card-content class="toggle-edits">
    <div  class="md-title card-title"
          ng-click="vm.handleEditClick($event)">
          {{vm.category}}</div>
    <!-- content for viewing only -->
    <rt-person-view ng-hide="vm.showInputs"
                    person="vm.person"></rt-person-view>
    
    <!-- content for editing -->
    <rt-person-edit ng-show="vm.showInputs"
                    person="vm.person" 
                    saved="vm.saved"
                    update="vm.update()"
                    handle-save-click="vm.handleSaveClick($event)"></rt-person-edit>

  </md-card-content>


</md-card>