
<!-- content to show for view only -->
<div class="card-body-text" ng-show="vm.mode==='view'">
    <div class="md-title name"
          ng-show="vm.person.type == 'organization'">
      {{vm.person.fullOrgName}}
    </div>
    <div class="md-title name">
      {{vm.person.displayName}}
    </div>
    <div>
      <div>
        <strong>{{vm.person.phones[0].value | phone}}</strong>
      </div>
      <div>
        <a href="mailto:{{vm.person.email}}">{{vm.person.emails[0].value}}</a>
      </div>
    </div>
    <div>
      <div>
        {{vm.person.address1}}
      </div>
      <div ng-show="vm.person.address2">
        {{vm.person.address2}}
      </div>
      <div ng-show="vm.person.city && vm.person.state">
        {{vm.person.city}}, {{vm.person.state}} {{vm.person.zip}}
      </div>
    </div>
  </div>



  <!-- content to show for input and editing information -->

  <div ng-show="vm.mode==='edit'">
    <form >
        <md-input-container class="name"
                            ng-show="vm.person.type!='individual'">
            <label>Organization Full Name</label>
            <input  ng-model="vm.person.fullOrgName"
                    type="text"
                    ng-change="update()">
        </md-input-container>
        <md-input-container class="name"
                            ng-show="vm.person.type!='individual'">
            <label>Org Short Name</label>
            <input  ng-model="vm.person.shortOrgName"
                    type="text"
                    ng-change="update()">
        </md-input-container>
        <md-input-container class="name">
            <label>Person Full Name</label>
            <input  ng-model="vm.person.fullName"
                    type="text"
                    ng-change="update()">
        </md-input-container>
        <md-input-container class="name">
            <label>Short Name</label>
            <input  ng-model="vm.person.shortName"
                    placeholder="eg., Bill, or Liz"
                    type="text"
                    ng-change="update()">
        </md-input-container>
        
        <md-input-container class="phone">
            <label>Phone</label>
            <input  ng-model="vm.person.phones[0].value"
                    type="text"
                    ng-change="update()">
        </md-input-container>
        <md-input-container class="phone">
            <label>Phone Type</label>
            <input  ng-model="vm.person.phones[0].type"
                    type="text"
                    placeholder="eg. mobile, office"
                    ng-change="update()">
        </md-input-container>
        <md-input-container class="email">
            <label>Email</label>
            <input  ng-model="vm.person.emails[0].value"
                    type="text"
                    ng-change="update()">
        </md-input-container>
          <div layout="column" class="address-group">
            <md-input-container class="address">
                <label>Address Line 1</label>
                <input  ng-model="vm.person.address1"
                        type="text"
                        ng-change="update()">
            </md-input-container>
            <md-input-container class="address">
                <label>Address Line 2</label>
                <input  ng-model="vm.person.address2"
                        type="text"
                        ng-change="update()">
            </md-input-container>
            <div class="city-stat-zip" layout="row">
                <md-input-container>
                    <label>City</label>
                    <input  ng-model="vm.person.city"
                            type="text"
                            ng-change="update()">
                </md-input-container>
                <md-input-container>
                    <label>State</label>
                    <input  ng-model="vm.person.state"
                            type="text"
                            ng-change="update()">
                </md-input-container>
                <md-input-container>
                    <label>Zip</label>
                    <input  ng-model="vm.person.zip"
                            type="text"
                            ng-change="update()">
                </md-input-container>
            </div>
          </div>
      <md-button  class="save-btn"
                  ng-click="handleSaveClick({$event: $event})"
                  type="submit"
                  ng-disabled="saved">
        Save
      </md-button>
    </form>
</div>