<!-- FAB -->

<md-toolbar class="toolbar md-whiteframe-z2">
  <h3>Case View</h3>
</md-toolbar>

<div ng-cloak>

<!-- Floating button for edit, save, etc. -->
    <md-fab-speed-dial  md-direction="up" 
                        class="md-fling md-fab-bottom-right"
                        style="position:fixed;top:auto;left:auto;right:20px;bottom:20px"
                        md-open="ctrl.isFABOpen"
                        ng-mouseenter="ctrl.isFABOpen=true"
                        ng-mouseleave="ctrl.isFABOpen=false"
                         >
    <md-fab-trigger md-mouseenter>
          <md-button  class="md-fab md-warn" 
                      aria-label="Actions..."
                      ng-if="!ctrl.isActiveEdit">
              <md-tooltip >Actions</md-tooltip>
              <md-icon >menu</md-icon>
          </md-button>
          <md-button  class="md-fab md-warn" 
                      ng-if="ctrl.isActiveEdit">
            <md-tooltip md-visible='true'
                        md-direction="bottom">
                        Edit Mode On</md-tooltip>
            <md-icon>edit</md-icon>
          </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button  
                  class="md-fab md-mini md-raised md-hue-3"
                  aria-label="edit"
                  ng-disabled="ctrl.isActiveEdit"
                  ng-click="ctrl.isActiveEdit=!ctrl.isActiveEdit">
        <md-tooltip md-direction="left">edit mode</md-tooltip>
        <md-icon >edit</md-icon>
      </md-button>
    
      <md-button  class="md-fab md-mini md-raised md-hue-3"
                  aria-label="save"
                  ng-disabled="!ctrl.isActiveEdit"
                  ng-click="ctrl.saveChanges()">
        <md-tooltip md-direction="left">save changes</md-tooltip>
        <md-icon >save</md-icon>
      </md-button>
      <md-button  class="md-fab md-mini md-raised md-hue-3"
                  aria-label="cancel changes"
                  ng-disabled="!ctrl.isActiveEdit"
                  ng-click="ctrl.cancelChanges()">
        <md-tooltip md-direction="left">cancel without saving</md-tooltip>
        <md-icon >cancel</md-icon>
      </md-button>
    </md-fab-actions>
    </md-fab-speed-dial>
  <!-- Floating button for edit, save, etc. -->

  <!-- Search Box -->
  <div flex-gt-sm="50" flex-offset="50" layout="row">
        <form name="caseLookup" 
              style="margin-top:20px;padding:10px 10px 0;border:2px solid transparent;border-radius:60px;background-color:#efefee"
              >
          <md-input-container>
            <label for=""><md-icon>search</md-icon> look up case number</label>
            <input ng-model="ctrl.searchId"
                   class="md-headline"
                   type="search"
                   style="background-color:#f5f5f5">
            </input>
          </md-input-container>
          <md-button class="md-fab md-mini md-primary md-hue-3"
                     type="submit"
                     ng-click="ctrl.caseLookup(ctrl.searchId)">
              go
          </md-button>
        </form>
  </div>
<!-- End Search Box -->

  <div flex-gt-sm="80" flex-offset="5" >
    <h1 ng-show="ctrl.caseRecord">Case: {{ctrl.caseRecord.$id}}</h1>
  <div flex-gt-sm="80" flex-offset="5"
        ng-if="!ctrl.isCaseIdValid">
    <h1 class="md-headline">No Matches Found </h1>
  </div>
  </div>

  <ui-view case="ctrl.caseRecord" is-active-edit="ctrl.isActiveEdit" is-case-id-valid="ctrl.isCaseIdValid"></ui-view>

</div>
