<edit-button  show-edit-btn="vm.showEditBtn"
              show-inputs="vm.showInputs">
</edit-button>
<md-card class="case-detail-card">
  <md-card-content ng-hide="vm.showInputs"
                   class="toggle-edits">
    <div  class="md-title card-title"
          ng-click="vm.handleEditClick($event)">
      {{vm.category}}
    </div>
    <div class="card-body-text">
        <div>
          Original Principal: {{vm.loan.initialPrincipal | currency: "$" : "0" }}
        </div>
        <div>
          Interest Rate: {{vm.loan.interestRate}}%
        </div>
        <div>
          Maturity Date:{{vm.loan.maturityDate}}
        </div>
        <div>
          Status: {{vm.loan.status}}
        </div>
      </div>
  </md-card-content>

  <md-card-content ng-show="vm.showInputs"
                      class="toggle-edit">
    <div>
      <div class="md-title card-title"
           ng-click="vm.handleEditClick($event)">
          {{vm.category}}
      </div>
      <form>
          <div layout="column">
            <md-input-container>
                <label>Original Principal</label>
                <input  ng-model="vm.loan.initialPrincipal"
                        type="text"
                        ng-change="vm.update()">
            </md-input-container>
            <md-input-container>
                <label>Interest Rate</label>
                <input  ng-model="vm.loan.interestRate"
                        type="text"
                        ng-change="vm.update()">
            </md-input-container>
            <md-input-container>
                <label>Maturity Date</label>
                <input  ng-model="vm.loan.maturityDate"
                        type="text"
                        ng-change="vm.update()">
            </md-input-container>
            <md-input-container>
                <label>Interest Rate</label>
                <input  ng-model="vm.loan.status"
                        type="text"
                        ng-change="vm.update()">
            </md-input-container>
          </div>
          <md-button class="save-btn" 
                      type="submit"
                      ng-click="vm.handleSaveClick($event)"
                      ng-disabled="vm.saved">
              Save
          </md-button>
      </form>
    </div>
  </md-card-content>
</md-card>