
<!-- content for view only -->

<div class="card-body-text toggle-edit" ng-show="vm.mode==='view'">
  <div>
    <div>
      {{vm.property.address1}}
    </div>
    <div ng-if="vm.property.address2">
      {{vm.property.address2}}
    </div>
    <div ng-show="vm.property.city && vm.property.state">
      {{vm.property.city}}, {{vm.property.state}} {{vm.property.zip}}
    </div>
  </div>
  <div ng-show="vm.property.county">
    {{vm.property.county}} County 
  </div>
  <div ng-show="vm.property.taxId">
    parcel id. {{vm.property.taxId}}
  </div>
  <div class="card-body-text">
    {{vm.property.legalDescription}}
  </div>
</div>



<!-- content for input and edit -->
<div class="toggle-edit" ng-cloak ng-show="vm.mode==='edit'">
  <form class="info-card">
    <!-- street address section -->
    <div layout="column" class="address-group">
        <md-input-container class="address">
            <label>address line 1</label>
            <input  ng-model="vm.property.address1"
                    type="text"
                    ng-change="vm.update()">
        </md-input-container>
        <md-input-container class="address">
            <label>address line 2</label>
            <input  ng-model="vm.property.address2"
                    type="text"
                    ng-change="vm.update()">
        </md-input-container>
        <div class="city-state-zip" layout="row">
            <md-input-container class="city">
                <label>city</label>
                <input  ng-model="vm.property.city"
                        type="text"
                        ng-change="vm.update()">
            </md-input-container>
            <md-input-container class="state">
                <label>state</label>
                <md-select ng-model="vm.property.state"
                            ng-change="vm.update()"
                            aria-label="state">
                  <md-option ng-repeat="state in vm.statesList" 
                            ng-value="state.short">
                      {{state.short}}
                  </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="zip">
                <label>zip</label >
                <input  ng-model="vm.property.zip"
                        type="text"
                        ng-change="vm.update()">
            </md-input-container>
        </div>
      </div>



        <div>
          <md-input-container class="county">
            <label>county</label>
            <md-select  ng-model="vm.property.county"
                        ng-change="vm.update()">
              <md-option  ng-repeat="county in vm.Counties" 
                          ng-value="county"
                          ng-selected="county === '{{vm.property.county}}'">
                    {{county}}
              </md-option>  
          </md-select>
          </md-input-container>
        </div>
        <div>
          <md-input-container class="parcel-id">
            <label>assessor's parcel no./tax Id.</label>
            <input  ng-model="vm.property.taxId"
                    type="text"
                    ng-change="vm.update()">
          </md-input-container>
        </div>
        <div layout="column">
          <md-input-container class="legal-description">
            <label>legal description</label>
            <textarea ng-model="vm.property.legalDescription"
                      ng-change="vm.update()">
            </textarea>
          </md-input-container>
        </div>
        
  </form>
</div>
<div ng-transclude></div>