<div layout="column" ng-cloak>
<div layout="row">
    
    <div flex>
      
      <ui-view></ui-view>
    </div>
      <md-sidenav class="md-sidenav-right"
                  md-component-id="loginSidebar"
                  md-is-locked-open="!ctrl.isLoggedIn"
                  md-whiteframe="4">
        <md-toolbar color="md-theme-red"> 
          <h1 class="md-toolbar-tools" ng-if="!ctrl.isLoggedIn">Login/Sign-Up</h1>
          <h1 class="md-toolbar-tools" ng-if="ctrl.isLoggedIn">Logout</h1>
        </md-toolbar>

        <md-content layout="column" flex-gt-xs="90" flex-offset-gt-xs="5" layout-align="start stretch">
           
            <form name="login" layout="column" style="margin-top:30px">
          
              <md-input-container flex>
                <label>email</label>
                <input type="email" ng-required ng-model="ctrl.user.email">
              </md-input-container>
          
              <md-input-container flex>
                <label>password</label>
                <input type="password" ng-required ng-model="ctrl.user.password">
              </md-input-container>
              
              <md-button flex 
                        class="md-primary md-raised"
                        ng-if="!ctrl.isLoggedIn"
                        ng-click="ctrl.login($event)">
                Log In
              </md-button>
              <md-button flex 
                        class="md-primary md-raised"
                        ng-if="!ctrl.isLoggedIn"
                        ng-click="ctrl.signup($event)">
                Sign Up
              </md-button>
              <md-button  flex 
                          class="md-primary md-raised"
                          ng-if="ctrl.isLoggedIn"
                          ng-click="ctrl.signOut($event)">
                Log Out
              </md-button>
            </form>
        </md-content>
    </md-sidenav>
  </div>
</div>