<md-list-item class="case-detail">
    <div flex="10">{{ctrl.case.file}}</div>
    <div flex>
      <div>{{ctrl.case.property.address1}}</div>
      <div>{{ctrl.case.property.city}}</div>
      <div>{{ctrl.case.property.county}} County</div>
      <div>id: {{ctrl.case.property.taxId}}</div>
    </div>
    <div flex>
      <div>{{ctrl.case.lender.name}}</div>
      <div>{{ctrl.case.lender.phone | tel }}</div>
      <div>{{ctrl.case.lender.address1}}</div>
      <div>{{ctrl.case.lender.city}}, {{ctrl.case.lender.state}} {{ctrl.case.lender.zip}}</div>
    </div>
    <div flex>
      <div>{{ctrl.case.borrower.name}}</div>          
      <div>{{ctrl.case.borrower.address1}}</div>
      <div>{{ctrl.case.borrower.city}}, {{ctrl.case.borrower.state}} {{ctrl.case.borrower.zip}}</div>
    </div>
    <div flex="10">
      <div >{{ctrl.case.borrower.loanAmount | currency : "$" : 0}}</div>
    </div>
</md-list-item>