<div id="login-container" style="min-width:50vw;margin-top:150px">
  <md-content layout="column" flex-gt-xs="50" flex-offset-gt-xs="25" layout-align="center stretch">
    <h1 flex="50" flex-offset="25">Login or Sign Up</h1>
    <form name="login" layout="row" layout-wrap >
  
      <md-input-container flex="50" flex-offset="25">
        <label>email</label>
        <input type="email" ng-required ng-model="ctrl.user.email">
      </md-input-container>
  
      <md-input-container flex="50" flex-offset="25">
        <label>password</label>
        <input type="password" ng-required ng-model="ctrl.user.password">
      </md-input-container>
      
      <md-button flex="50" flex-offset="25" 
                 class="md-primary md-raised"
                 ng-hide="ctrl.isLoggedIn"
                 ng-click="ctrl.login($event)">
        Log In
      </md-button>
      <md-button flex="50" flex-offset="25" 
                 class="md-primary md-raised"
                 ng-show="!ctrl.isLoggedIn"
                 ng-click="ctrl.signup($event)">
        Sign Up
      </md-button>
      <md-button  flex="50" flex-offset="25" 
                  class="md-primary md-raised"
                  ng-show="ctrl.isLoggedIn"
                  ng-click="ctrl.signOut($event)">
        Log Out
      </md-button>
    </form>
  </md-content>
</div>