<!-- FAB -->

<div class="create-toolbar-container" style="position:relative;min-height:60px">
  <div layout="row" layout-align="start"
  style="left:15vw">
     
      <md-button  class="md-hue-3"
                    aria-label="cancel changes"
                    ng-click="vm.cancel()"
                    ng-disabled="!vm.isCreating">
          <md-tooltip md-direction="bottom">cancel without saving</md-tooltip>
          <md-icon class="icon-cancel"></md-icon> Cancel
      </md-button>

      <md-button  class="md-button md-hue-3"
                    aria-label="finalize and save"
                    ng-click="vm.finalize()"
                    ng-disabled="!vm.isCreating">
          <md-tooltip md-direction="bottom">finalize</md-tooltip>
          <md-icon class="icon-cloud_upload"></md-icon> Finalize & Goto Case Overview
      </md-button>
    </div>
</div>
  <!-- Floating button for edit, save, etc. -->


  <div flex-gt-sm="80" flex-offset="5" layout="row" layout-align="start end">
      <h1 class="md-headline" layout-align="start start">Case: </h1>
    <div style="position:relative;top:1.75em;left:10px">
      <md-input-container >
          <input  class="md-headline"
                  type="text" 
                  ng-model="ctrl.newCase.caseId"
                  ng-change="ctrl.saveChanges()">
      </md-input-container>
    </div>
  </div>

  <ui-view class="view-frame" case="ctrl.newCase" on-update="ctrl.saveChanges()" is-active-edit="true" is-case-id-valid="ctrl.isCaseIdValid"></ui-view>


