
<div class="create-toolbar-container" style="position:relative;min-height:60px">
  <div layout="row" layout-align="space-between"
  style="position:fixed;left:15vw;z-index:10">
        
     <!--  <md-button  class="md-accent"
                     aria-label="Create New Case..."
                     ng-click="vm.createNewCase()"
                     ng-disabled="vm.isCreating">
           <md-tooltip md-direction="bottom">Create Another Case</md-tooltip>
           <md-icon >add_circle</md-icon> Create
     </md-button> -->
      <md-button  class="md-hue-3"
                    aria-label="cancel changes"
                    ng-click="vm.cancel()"
                    ng-disabled="!vm.isCreating">
          <md-tooltip md-direction="bottom">cancel without saving</md-tooltip>
          <md-icon >cancel</md-icon> Cancel
      </md-button>

      <md-button  class="md-button md-hue-3"
                    aria-label="finalize and save"
                    ng-click="vm.finalize()"
                    ng-disabled="!vm.isCreating">
          <md-tooltip md-direction="bottom">finalize</md-tooltip>
          <md-icon >cloud_upload</md-icon>
      </md-button>
      
  </div>
</div>



      <div layout="row" layout-align="start center">
        <h1 class="md-headline" style="position:relative;top:-10px;margin-right:10px" flex-offset-gt-xs="5">Case: </h1>
        <md-input-container >
            <label >Case Number</label>
            <input  class="md-headline"
                    type="text" 
                    ng-model="vm.newcase.caseId"
                    ng-change="vm.saveChanges()"
                    ng-readonly="!vm.isCreating">
        </md-input-container>
      </div>
  <ui-view class="view-frame" case="vm.newcase" on-update="vm.onUpdate()" is-active-edit="vm.isActiveEdit" is-creating="vm.isCreating" ></ui-view>


