<div class="row add-profile-component loan-input-container">
    
      <div class="column add-profile-group">
        <div class="column profile-card-container">
          <rt-loan-info class="profile-card"
                          ng-class="{compact: vm.mode==='view'}"
                          profile="vm.profileToAdd"
                          mode="vm.mode"
                          section="vm.sectionLabel"
                          actions="vm.actions"
                          case-loaded="vm.caseLoaded"
                          on-save-click="vm.handleSaveToCase(profile)">
          </rt-loan-info>
              <div class="row right-justify" ng-show="vm.caseLoaded">
                <md-button class="btn save-btn-reverse toggle-edit"
                            ng-show="vm.mode==='edit'"
                            ng-click="vm.saveClick()">
                    <span >Save Changes</span>
                  <md-icon class="icon-save"></md-icon>
                </md-button>
                <md-button class="btn save-btn-reverse toggle-edit"
                            ng-show="vm.mode==='view'"
                            ng-click="vm.editCurrentProfile()">
                            Edit
                  <md-icon class="icon-mode_edit"></md-icon>
                </md-button>
                <md-button class="btn warn-btn-reverse toggle-edit"
                            ng-show="vm.caseLoaded && vm.mode==='edit'"
                            ng-click="vm.cancelChangesToProfile()">
                            Cancel
                  <md-icon class="icon-cancel"></md-icon>
                </md-button>
              </div>
    
        </div>
    
      </div>
    
    <!-- existing section profiles list -->
    
      <div class="column profiles-list">
      </div>
    </div>