<!DOCTYPE html>
<html lang="en" ng-app="RTApp">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="All your base are belong to us!">
    <title>REAL-T</title>
  
    <base href="/">
  </head>
  <body ng-cloak>

    <div id="main-container" layout="column" >
      <div id="hero">
        <md-toolbar class="toolbar md-whiteframe-z1">
          <h1>REAL-T</h1>
          <h3><strong>R</strong>eal <strong>E</strong>st<strong>A</strong>te <strong>L</strong>ending <strong>T</strong>racker</h3>
          <h3 class="md-headline">Real Time Data</h3>
        </md-toolbar>
      </div>
      <nav layout-gt-xs="row" layout-xs="column" flex layout-align="space-between center" layout-wrap>
        <div>
          <md-button ui-sref="home" ui-sref-active="active">Home</md-button>
          <md-button ui-sref="cases.case" ui-sref-active="active">Case List</md-button>
          <md-button ui-sref="caseMain" ui-sref-active="active">View/Edit Case</md-button>
          <md-button ui-sref="newCaseForm" ui-sref-active="active">Create New Case</md-button>
        </div>
          <md-button ui-sref="legacyforms" ui-sref-active="active">Legacy Input Forms</md-button>
          <div ng-controller="isAuthController as auth">
            <md-button ng-if="auth.isLoggedIn" ng-click="auth.logout()" >user: {{auth.user}} / logout</md-button>
          </div>
      </nav>
      <div id="background"></div>
      

      <ui-view class="view-container" ></ui-view>


    </div>  <!-- Main Container -->

  
   
  </body>
</html>