@import url("https://fonts.googleapis.com/css?family=Roboto");
@import 'icons';
@import 'variables';


html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', 'Helvetica Neue', 'sans serif';
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 200px;
}



// loading progress spinner
.progress-circular {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.hero-container {
    position: relative;
    width: 100vw;
    height: 50vh;
    z-index: 1;
    color: $white;
    &::before {
      position: absolute;
      content: ' ';
      width: 100%;
      height: 100%;
        /* image of city skyline */
      background: linear-gradient(to right,rgba(100,100,250,.9), rgba(0,0,250,.5)), url('./assets/architecture-1867077_960.jpg');
      background-repeat: no-repeat;
      background-position: top center, bottom center;
      background-size: cover;
      z-index: -1;
    }
    .hero-title-block {
      position: absolute;
      top: 5vh;
      left: 15vw;
    }
    .hero-text {
      position: absolute;
      width: 100vw;
      bottom: 1vh;
      text-align: center;
    }
}


/*
   Home Page Links 
*/

.home-view-container {
  color: $gray;
  .main-nav-links {
    text-align: center;
    .home-icon {
      transform: scale(5) translateY(30%);
    }
    &:hover {
      cursor: pointer;
    }
  }
}

a.active {
  font-weight: 900;
  border-bottom: 3px solid #ddd;
}


/*
    Login View Styling
*/

.login-page {
  position: absolute;
  /*content: ' ';*/
  width: 100vw;
  height: 100vh;
  min-height: 900px;
  background: url('./assets/architecture-1867077_960.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  .hero-title-block {
    position: absolute;
    top: 35px;
    left: 5vw;
  }
  .login-card {
    position: relative;
    margin-top: 180px;
    min-height: 500px;
    width: 98%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,.9);
    .login-form {
      /*position: relative;*/
      margin: 10px auto;
      padding: 10px;
      width: 98%;
      max-width: 500px;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 5px;
      .login-form-input {
        margin: 1.25em auto 0;
        width: 98%;
        max-width: 350px;
      }
    }
    .loginbox-btn {
      height: 40px;
      width: 98%;
      max-width: 300px;
      margin: 5px auto;
      font-size: 1.1em;
      font-weight: 700;
      text-align: center;
    
    }
  }
}

/* Alert Dialog for login errors */
.md-dialog-content {
  max-width: 400px;
  .md-title {
    margin-bottom: 1em;
  }
}

/* Navbar styles */
.navbar-title {
  padding: 5px 10px;
  color: $purple;
  font-weight: 900;
  font-size: 1.35em;
  text-decoration: none;
}


/*
  CASE LIST PAGE
*/

.case-summary {
  font-size: .9em;
}

.case-list-item.case-summary {
  .md-button:not(.md-icon-button):hover {
    background-color: transparent;
  }
  .md-icon-button:hover {
    background-color: rgba(0,0,0,.1);
  }
}

.caselist-row {
  width: 100%;
}

.caselist-headings, .caselist-row, .additional-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow: hidden;
  >*, >*>* {
    padding-right: 15px;
  }
  >*:first-child {
    flex: 0 0 8%;
    margin-left: 5vw;
  }
  >*:nth-child(n+2) {
    flex: 0 0 20%;
  }
  >*:nth-child(n+3) {
    flex: 0 0 15%;
  }
  >*:last-child {
    flex: 0 1 10%;
    padding-right: 10px;
  }
}

.more-detail {
  position: absolute;
  left: 1em;
}

.less-detail {
  position: absolute;
  left: 1em;
  top: -3px;
}

.case-expanded.case-detail {
  position: relative;
  top: -1em;
  div.case-text {
    p {
      margin: .5em 0;
      line-height: 1.15em;
      font-size: 1em;
    &:last-child {
        margin-bottom: 1.5em;
      }
    }
  }
}

/* TODO
Need media query to handle CaseList view on smaller screens */

